.headsetsInfo__boxes {
  padding-top: 35px;
  padding-left: 45px;
  margin-right: 25px;
  padding-bottom: 25px;
  display: flex;
}

.headsetsInfo__box {
  border: 2px solid rgb(137, 155, 137);
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 430px;
}

.headsetsInfo__boxImage {
  padding: 20px;
  object-fit: contain;
  width: 175px;
  height: 175px;
}

.headsetsInfo__h1 {
  font-weight: 600;
  padding: 5px;
  font-size: 1.4rem;
  border-top: 2px solid lightgray;
}

.headsetsInfo__h3 {
  padding: 5px;
  font-size: 1.5rem;
}

.headsetsInfo__button {
  background-color: #14eb26 !important;
  border-radius: 5px !important;
  padding: 10px 30px !important;
  margin: 10px !important;
  margin-bottom: 15px !important;
  border: 1px solid !important;
}

.headsetsInfo__button:hover {
  background-color: black !important;
  color: #14eb26 !important;
  border: 1px solid #14eb26 !important;
}

@media screen and (max-width: 1350px) {
  .headsetsInfo__boxes {
    align-items: center;
    justify-content: center;
    padding-top: auto;
    padding-left: auto;
    padding-right: 25px;
    padding-bottom: auto;
    display: flex;
  }

  .headsetsInfo__box {
    width: 1100px;
  }

  .headsetsInfo__boxImage {
    object-fit: contain;
    height: 200px;
    width: 200px;
  }
}

@media screen and (max-width: 1100px) {
  .headsetsInfo__boxes {
    align-items: center;
    justify-content: center;
    padding-top: auto;
    padding-left: auto;
    padding-right: 25px;
    padding-bottom: auto;
    display: flex;
  }

  .headsetsInfo__box {
    width: 900px;
  }

  .headsetsInfo__boxImage {
    object-fit: contain;
    height: 200px;
    width: 200px;
  }
}

@media screen and (max-width: 991px) {
  .headsetsInfo__boxes {
    align-items: center;
    justify-content: center;
    padding-top: auto;
    padding-left: auto;
    padding-right: 25px;
    padding-bottom: auto;
    display: flex;
  }

  .headsetsInfo__box {
    width: 800px;
  }

  .headsetsInfo__boxImage {
    object-fit: contain;
    height: 200px;
    width: 200px;
  }
}

@media screen and (max-width: 468px) {
  .headsetsInfo__boxes {
    padding-top: auto;
    padding-left: auto;
    padding-right: 25px;
    padding-bottom: auto;
    display: flex;
  }

  .headsetsInfo__box {
    width: 300px;
  }

  .headsetsInfo__boxImage {
    object-fit: contain;
    height: 200px;
    width: 200px;
  }
}
