.watchSection__banner {
  display: flex;
}

@media screen and (max-width: 1350px) {
  .watchSection__banner {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 1100px) {
  .watchSection__banner {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 991px) {
  .watchSection__banner {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 460px) {
  .watchSection__banner {
    display: flex;
    flex-direction: column;
  }
}
